@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Menu*/
.contenedor-nav{
    width: 1400px;
    max-width: 1400px;
    height: 85px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.contenedor-nombre-empresa{
    width: 310px;
    background: #ffffff;
}
.titulo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5995fd;
}
.contenedor-titulo{
    width: 1000px;
    background-color: #ffffff;
    text-align: center;
}
.categoria{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5995fd;
}
.contenedor-area{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.contenedor-titulos{
    width: 250px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: #ffffff;
}
.titulo-icono{
    font-size: 15px;
    font-weight: 600;
    color: #5995fd;
    justify-content: space-between;
    text-align: center;
}
.icono{
    font-size: 35px;
    padding: 20px;
    cursor: pointer;
    color: #5995fd;
}
/*Contenedor-area-categoria*/
.contenedor-categoria{
    width: 1400px;
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
    padding: 40px 0;
    display: flex;
    gap: 20px;
}
/*Tabla*/
.contenedor-menu{
    width: 300px;
}
.contenedor-menu h3{
    color: #ffffff;
    background-color: #bcd2f8;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    letter-spacing: 1px;
}
.contenedor-menu ul{
    position: relative;
    background-color: #ffffff;
}
.contenedor-menu ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 5px 25px #0002;
    transition: transform 0.3s;
}
.contenedor-menu ul li:hover{
    transform: scale(1.05);
    z-index: 100;
    background: #bcd2f8;
    box-shadow: 0 5px 25px #0003;
    color: #ffffff;
}
/*Distribución de tarjetas*/
.contenedor-producto{
    background-color: #bcd2f8;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}
/*Tarjeta de producto*/
.contenedor-tarjetas{
    max-width: 280px;
    margin: 50px;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 15px 25px #0004;
    transition: all 400ms ease;
    background-color: #ffffff;
}
.contenedor-tarjetas:hover{
    box-shadow: 5px 20px 30px #0006;
    transform: translateY(-3%);
}
.contenedor-tarjetas > img{
    width: 100%;
    object-fit: cover;
}
.contenedor-informacion{
    padding: 1em;
    display: flex;
    flex-flow: column;
}
.nombre-producto{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 2px;
}
.descripcion-producto{
    font-weight: 350;
}
.precio{
    font-size: 16px;
    font-weight: 600;
}
.contenedor-informacion * + *{
    margin-bottom: 0.5em;
}
.contenedor-estrella{
    padding: 1em;
}
.contenedor-estrella >span:first-child{
    color: #ebda44;
}
.contenedor-estrella > span:last-child{
    font-size: 13px;
    font-weight: 450;
}