@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Menu*/
.contenedor-nav{
    width: 1400px;
    max-width: 1400px;
    height: 85px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.contenedor-nombre-empresa{
    width: 310px;
    background: #ffffff;
}
.titulo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5995fd;
}
.contenedor-titulo{
    width: 1000px;
    background-color: #ffffff;
    text-align: center;
}
.categoria{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5995fd;
}
.contenedor-area{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.contenedor-titulos{
    width: 250px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: #ffffff;
}
.contenedor-iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo-icono{
    font-size: 15px;
    font-weight: 600;
    color: #5995fd;
    justify-content: space-between;
    text-align: center;
}
.icono{
    font-size: 35px;
    padding: 20px;
    cursor: pointer;
    color: #5995fd;
}
/*Contenedor pago*/
.contenedor-pago{
    width: 1400px;
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
    padding: 40px 0;
    display: flex;
    gap: 20px;
}
/*Contenedor formulario*/
.contendedor-formulario{
    width: 840px;
    max-width: 840px;
    margin: 0 auto;
}
.datos, .boton{
    width: 756px;
    height: 50px;
    font-size: 16px;
}
.datos{
    padding-left: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.datos:hover{
    border: 2px solid #5995fd;
}
.boton{
    width: 200px;
    border: none;
    margin-left: 67%;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 10px;
    background-color: #bcd2f8;
    cursor: pointer;
}
/*Distribución de tarjeta*/
.contenedor-producto{
    background-color: #bcd2f8;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}
/*Contenedor tarjeta*/
.contenedor-tarjetas{
    max-width: 280px;
    margin: 50px;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 15px 25px #0004;
    transition: all 400ms ease;
    background-color: #ffffff;
}
.contenedor-tarjetas:hover{
    box-shadow: 5px 20px 30px #0006;
    transform: translateY(-3%);
}
.contenedor-tarjetas > img{
    width: 100%;
    object-fit: cover;
}
.contenedor-informacion{
    padding: 1em;
    display: flex;
    flex-flow: column;
}
.nombre-producto{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 2px;
}
.descripcion-producto{
    font-weight: 350;
}
.precio{
    font-size: 16px;
    font-weight: 600;
}
.contenedor-informacion * + *{
    margin-bottom: 0.5em;
}
.contenedor-estrella{
    padding: 1em;
}
.contenedor-estrella >span:first-child{
    color: #ebda44;
}
.contenedor-estrella > span:last-child{
    font-size: 13px;
    font-weight: 450;
}